{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
< html lang="el" >
<head>

{% block title %}
    {{ page_title }}
{% endblock %}



{% block content %}

<link href="{% static 'bootstrap-3.1.1/css/bootstrap.css'%}" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="{% static 'bootstrap-3.1.1/css/bootstrap-theme.css'%}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'bootstrap-3.1.1/css/theme.css'%}" rel="stylesheet">

<h1>{{ form_name }}</h1>

<ul>
            <h1>Ασθενής   : {{ object.peopleid.name }} {{ object.peopleid.surname }}</h1>
            <h1>Ιατρός    : {{ object.doctorid.name }} {{ object.doctorid.surname }}</h1>
			<h2>Κατηγορία : {{ object.categorid.name }}</h2>
			<h2>Ημερομηνία: {{ object.dateofexam }}</h2>
			<h2>Notes    : {{ object.notes }}</h2>
			<h2>Comments : {{ object.comments }}</h2>
			
</ul>
<link rel="stylesheet" type="text/css" href="{% static "/admin/css/BasePlus.css" %}"/>
<p>
    <a class="w3-btn w3-blue w3-border w3-round" href={% url 'DjgLeoApp001:updateexambio' object.id %}  > Μεταβολή</a>
    <a class="w3-btn w3-green w3-border w3-round" href={% url 'DjgLeoApp001:massupdateexambio' object.id %}  >Mass Update</a>
</p>
{% endblock %}


