{% extend 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="el" >

<link rel="stylesheet" href="{% static 'css/DjgLeoApp001.css' %}">

<head>
<title>Delete Patient {{ people.name }} {{ people.surname }}</title>
</head>

{% block content %}
<form action="" method="post">{% csrf_token %}

<h1>Delete People with id {{ examination0.peopleid.id }} named {{ examination0.peopleid.name }} {{ examination0.peopleid.surname }} {{ examination0.dateofexam }}</h1>
    <input type="submit" value="Delete" />

</form>
{% endblock %}	