{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
< html lang="el" >
<head>

{% block title %}
    {{ page_title }}
{% endblock %}



    {% block content %}

    <link href="{% static 'bootstrap-3.1.1/css/bootstrap.css'%}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap-3.1.1/css/bootstrap-theme.css'%}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap-3.1.1/css/theme.css'%}" rel="stylesheet">

    <h1>{{ form_name }}</h1>

    <ul>
            <h1>Ονόμασία    : {{ object.name }}</h1>
            <h1>Συντ.Ονόμασία  : {{ object.sname }}</h1>

			<h2>Min/Max  : {{ object.min }}-{{ object.max }} {{ object.mm }}</h2>
			<h2>Κατηγορία: {{ object.bioexaminationcategory }}</h2>
			<h2>Group    : {{ object.groupexam }}</h2>
	</ul>

<p><a href={% url 'DjgLeoApp001:updateexamname' object.id %} type="button" class="btn btn-lg btn-danger">  Μεταβολή  </a></p>
{% endblock %}