{% extend 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="el" >

<head>
<title>List</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/DjgLeoApp001.css' %}">

</head>
{% block content %}
    <ul>
    <h2>Εξετάσεις για {{ name }} </h2>

        {% for Examination0 in object_list %}
            <li><a href={% url 'DjgLeoApp001:updateexam' Examination0.pk %}>{{ Examination0.categorid.name }} {{ Examination0.dateofexam }} {{ Examination0.notes }}</li>
        {% endfor %}
    </ul>
<li><a href={% url 'DjgLeoApp001:createexam' %} >Δημιουργεία νέας Εξέτασης</li>
{% endblock %}