{% extends 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<head>
<title>List</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/DjgLeoApp001.css' %}">

{% if user.is_authenticated %}
<p>Welcome, {{ user.username }} . Thanks for logging in.</p>
<p>{{ STATIC_URL }}</p>
<p><a href="{% url 'tables0' %}"/a>Tables0</p>
<p><a href="{% url 'tables100' %}"/a>Tables100</p>

<p>Welcome, {{ user.username }} </p>
{% else %}
<p>Welcome, new user. Please log in.</p>
{% endif %}
</head>
{% block content %}
    <h2>Εξετάσεις {{ name }} </h2>
    <ul>
        {% for Examination0 in object_list %}
            <li><a href={% url 'examinationupd' Examination0.pk %} >{{ Examination0.peopleid.name|truncatechars:15|ljust:"20" }} {{ Examination0.peopleid.surname|truncatechars:20|ljust:"25" }} {{ Examination0.categorid.name|truncatechars:15|rjust:"20" }} {{ Examination0.dateofexam|date:"c"|truncatechars:15|ljust:"15" }} {{ Examination0.notes }} </li>
        {% endfor %}
    </ul>
	
<li><a href={% url 'examinationcreate' %} >Add</li>
{% endblock %}