{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'DjgLeoApp001/style.css' %}" />

<!DOCTYPE html>
<html lang="el" >

<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src={% static '/admin/js/core.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/vendor/jquery/jquery.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/jquery.init.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/admin/RelatedObjectLookups.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/actions.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/urlify.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/prepopulate.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/vendor/xregexp/xregexp.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/calendar.js' %}></script>
<script type="text/javascript" src={% static '/admin/js/admin/DateTimeShortcuts.js' %}></script>

{% block content %}		
<form action="" method="post">{% csrf_token %}
<table> 
    {{ form.as_table }}
</table> 	

    <input type="submit" value="Update" />
{% endblock %}
</body>
</form>