{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
< html lang="el" >
<head>
<title>Djgleoapp001 administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />



</head>
{% block content %}

<h1>Ημερομηνία Εξέτασης {{ object.dateofexam|date:"D d M Y" }}</h1>
<h2>Είδος Εξέτασης {{ object.categorid.name }}</h2>
<h2>Ασθενής {{ object.peopleid.name }} {{ object.peopleid.surname }}</h2>
<h2>Γιατρός {{ object.doctorid.name }} {{ object.doctorid.surname }}</h2>
<textarea cols=100 rows=10 readonly="True">{{ object.notes }}</textarea>
<textarea cols=100 rows=5 readonly="True">{{ object.comments }}</textarea>


<link rel="stylesheet" type="text/css" href="{% static "/admin/css/BasePlus.css" %}"/>
<p>
    <a class="w3-btn w3-blue w3-border w3-round" href={% url 'DjgLeoApp001:updateexam' object.id %}  > Μεταβολή</a>
</p>

{% endblock %}

