{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
< html lang="el" >
<head>


    {% block content %}

    <link href="{% static 'bootstrap-3.1.1/css/bootstrap.css'%}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap-3.1.1/css/bootstrap-theme.css'%}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap-3.1.1/css/theme.css'%}" rel="stylesheet">

    <ul>
            <h1>Ασθενής   : {{ object.peopleid.name }} {{ object.peopleid.surname }}</h1>
            <h1>Ιατρός    : {{ object.doctorid.name }} {{ object.doctorid.surname }}</h1>
			<h2>Κατηγορία : {{ object.categorid.name }}</h2>
			<h2>Ημερομηνία: {{ object.dateof }}</h2>
			<textarea cols=100 rows=10 readonly="True">{{ object.notes }}</textarea>
            <textarea cols=100 rows=10 readonly="True">{{ object.comments }}</textarea>
			

<link rel="stylesheet" type="text/css" href="{% static "/admin/css/BasePlus.css" %}"/>
<p>
    <a class="w3-btn w3-blue w3-border w3-round" href={% url 'DjgLeoApp001:updateoperation' object.id %}  > Μεταβολή</a>
</p>


{% endblock %}
