{% extends 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" href={% static "admin/css/New Text Document.css" %}>

<!DOCTYPE html>
<html lang="en-us" >

{% block content %}	
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
<a class="w3-btn"<a href={% url 'publisherdel'  people.id %}>   Delete&#10095;</a></li>
<a class="w3-btn"<a href={% url 'examinationsper'  people.id %}>   Exams</li>&#10095;</a></li>
{% if people.isdoctor %}
<a class="w3-btn"<a href={% url 'examinationsperdoctor'  people.id %} class="cta">   Exams</li>&#10095;</a></li>
{% endif %}

        
        


  <div class="fundraising-sidebar">
    <h2>Support Django!</h2>

    <div class="small-heart">
      <img src="/s/img/small-fundraising-heart.d255f6e934e5.png" alt="Support Django!" />
    </div>

    <div class="small-cta">
      <ul class="list-links-small">
        <li><a href="https://www.djangoproject.com/fundraising/">
          Nadia Eghbal donated to the Django Software Foundation to
          support Django development. Donate today!
        </a></li>
      </ul>
    </div>
	
    <div class="cta">
      <ul class="list-links-small">
      </ul>
    </div>
	
	
  </div>

</form>
{% endblock %}