{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<head>
<title>List</title>

<link rel="stylesheet" href="{% static 'bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/DjgLeoApp001.css' %}">

{% block content %}
    <h2>People</h2>
    <ul>
        {% for People in object_list %}
            <li><a href={% url 'publishersupd' People.pk %} > {{ People.name }}	{{ People.surname }} {{ People.dateofbirth }} </li>
        {% endfor %}
    </ul>
<li><a href={% url 'publishercreate' %}>Add</li>
{% endblock %}