{% extends 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-us" >

{% block content %}	
<form action="" method="post">{% csrf_token %}
<ul> 
    {{ form.as_ul }}
</ul> 	
    <input type="submit" value="Update" />
<li><a href={% url 'publisherdel' People.id %} class="cta">Delete</li>
</form>

<a class="related-widget-wrapper-link change-related" id="change_id_peopleid" data-href-template="/admin/DjgLeoApp001/people/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected people" href="http://127.0.0.1:8000/admin/DjgLeoApp001/people/1/change/?_to_field=id&amp;_popup=1">
            <img src="{ static  'admin/img/icon-calendar.svg' }">
        </a>


  <div class="fundraising-sidebar">
    <h2>Support Django!</h2>

    <div class="small-heart">
      <img src="/s/img/small-fundraising-heart.d255f6e934e5.png" alt="Support Django!" />
    </div>

    <div class="small-cta">
      <ul class="list-links-small">
        <li><a href="https://www.djangoproject.com/fundraising/">
          Nadia Eghbal donated to the Django Software Foundation to
          support Django development. Donate today!
        </a></li>
      </ul>
    </div>
	
    <div class="cta">
      <ul class="list-links-small">
      </ul>
    </div>
	
	
  </div>
  
{% endblock %}	