{# tutorial/templates/people.html #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
        {% render_table people %}

	<li><a href="http://127.0.0.1:8000/publishercre/">Add</li>
	<li><a href="http://127.0.0.1:8000/(% add_url %)/">Add</li>
    </body>
	<li><a href="http://127.0.0.1:8000/publishercre/">Add</li>
	<li><a href="http://127.0.0.1:8000/(% add_url_leo %)/">Add</li>
</html>