{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="en-us" >
<head>
</head>
	{% if user.is_authenticated %}
	<p>Welcone, {{ user.username }} </p>
	{% else %}
	<p>Welcome, new user. Please log in.</p>
	{% endif %}

<h1>{{ page_title }}  </h1>

{% if main_url_leo %}
	<li><a href={% url  main_url_leo  %}>Add</li>
{% endif %}


{% block title %}
    {{ page_title }}
{% endblock %}


{% block content %}
<html>
    <h2> {{ form_name }} </h2>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
        {% render_table people %}
    </body>

    {% if param_action1_name %}
	<p><a href={{ param_action1 }} type="button" class="btn btn-lg btn-success"> {{ param_action1_name}} </a></p>
    {% endif %}
    {% if param_action2_name %}
	<p><a href={{ param_action2 }} type="button" class="btn btn-lg btn-info"> {{ param_action2_name}} </a></p>
    {% endif %}
    {% if param_action3_name %}
	<p><a href={{ param_action3 }} type="button" class="btn btn-lg btn-danger"> {{ param_action3_name}} </a></p>
    {% endif %}
    {% if param_action4_name %}
	<p><a href={{ param_action4 }} type="button" class="btn btn-lg "> {{ param_action4_name}} </a></p>
    {% endif %}

</html>
{% endblock %}